name: Python package

on:
  push:
    branches:
      - "**"
      - "!gh-pages"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Spark dependencies
        run: |
          sudo add-apt-repository -y ppa:openjdk-r/ppa
          sudo apt-get -qq update
          sudo apt-get install -y openjdk-8-jdk --no-install-recommends
          sudo update-java-alternatives -s java-1.8.0-openjdk-amd64
          export JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
          export SPARK_LOCAL_IP=0.0.0.0
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install
      - name: Test with pytest
        run: |
          pytest tests